body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #B80F0F, #FFE70F);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0);}
}

.login-card h2 {
    margin-bottom: 20px;
    color: #003366;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

button {
    width: 95%;
    padding: 12px;
    background: #B80F0F;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #D95B07;
}

.error {
    color: red;
    margin-bottom: 10px;
    font-weight: bold;
}

.links {
    margin-top: 15px;
}

.links a {
    color: #B80F0F;
    text-decoration: none;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}